{% extends 'layout_ayigi.html.twig' %}

{% block contenu %}

<section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Effectuer un nouveau paiement</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">nouveau paiement</li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<!-- / .title --> 

<section id="terms-use" class="container" style="background-color: white">
    <div class="span12">
        <div class="span4">
            <h1 class="in_progress">1</h1>
        </div>
        <div class="span4">
            <h1>2</h1>
        </div>
        <div class="span3">
            <h1>3</h1>
        </div>
    </div>
    <hr>

    <style>
        #myProgress {
          position: absolute;
          max-width: 100%;
          height: 30px;
          margin-top: 2%;
          background-color: #ddd;
        }

        #myBar {
          position: absolute;
          width: 1%;
          height: 100%;
          background-color: #4CAF50;
        }
    </style>

    <div class="span10" id="myProgress" style="display : none">
      <div  id="myBar"></div>
    </div>

    <form action="{{ path('ayigi_client_paiement_user', {'idClient': client.id } )}} " method="post" class="span12">

    <div class="row-fluid" id="infos_generales">

        <div class="span3 onglet_destination">
            <h4>Choisir de la destination</h4>
            
                <div class="form-group">
                    {{ form_label (form.paysDestination, "Pays") }}
                    {{ form_widget(form.paysDestination, {'attr' : {'class' : 'paysclass'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label (form.etablissements, "Etablissement") }}
                    {{ form_widget(form.etablissements, {'attr' : {'class' : 'etablissementclass'}}) }}
                </div>
                
        </div>

        <div class="span4 onglet_service">
            <h4>Choisir le service</h4>
                <div class="form-group">
                    {{ form_label (form.service, "Services") }}
                    {{ form_widget(form.service, {'attr' : {'class' : 'serviceclass'}}) }}
                </div>

                
                <div class="form-group">
                    {{ form_label (form.message, "Message (optionnel)") }}
                    {{ form_widget(form.message, {'attr' : {'class' : 'messageclass'}}) }}
                </div>
              
        </div>
        <div class="span3 onglet_beneficiaire">

            <h4>Information du bénéficiaire (optionnel)</h4>
            <div class="form-group">
                {{ form_label (form.nom, "Nom") }}
                {{ form_widget(form.nom, {'attr' : {'class' : 'nomclass'}}) }}
            </div>

            <div class="form-group">
                {{ form_label (form.prenom, "prenom (optionnel)") }}
                {{ form_widget(form.prenom, {'attr' : {'class' : 'prenomclass'}}) }}
            </div>

            <div class="form-group">
                {{ form_label (form.telephone, "telephone (optionnel)") }}
                {{ form_widget(form.telephone, {'attr' : {'class' : 'telephoneclass'}}) }}
            </div>

        </div>
        <div class="span12">
            <button class="btn btn-primary" id="next_step_2">Etape suivante</button>
        </div>
    </div>
    <!-- fin info générales -->
      

    <div id="info_paiement" style="display: none">
        <div class="span12">
            <div class="span3">
                <div class="form-group">
                    <label>Choix devise</label>
                    <select name="choixdevise" id="choixdevise">
                            <option>------------</option>
                        {% for tauxdevise in listedesdevises %}
                           <option value="{{ tauxdevise.taux }} "> {{ tauxdevise.nom }} </option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>

            <div class="span3">
                <div class="form-group">
                    {{ form_label (form.montant, "Saisir le montant à payer") }}
                    {{ form_widget(form.montant, {'attr' : {'class' : 'montantclass'}}) }}
                </div>

                <div>
                    <p>Frais : ----- </p>

                </div>
            </div>

            <div class="span3">
                <div class="form-group">
                    {{ form_label (form.montantrecu, "Montant à recevoir") }}
                    {{ form_widget(form.montantrecu, {'attr' : {'class' : 'montantrecuclass'}}) }}
                    <div id="paysReception">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- fin infos paiement-->

        <div class="span12" id="send_form">
            <button type="submit" class="btn btn-primary" id="send" style="display: none;">ENVOYER</button>
            <button type="submit" class="btn btn-primary" id="save" style="display: none;">ENREGISTRER</button>
        </div>
    </form>
        
</section>
{% endblock %}


{% block script %}
    <script type = "text/javascript">
        $(document).ready(function(){

            $(".paysclass").change(function() {

                //alert('change pays');
                changepays('etablissement','pays');
                move();
                $("input").prop('disabled', false);
                $("select").prop('disabled', false);
            });

            $(".etablissementclass").change(function() {
                //alert('change etab');
                changeEtablissement('service','etablissement');
                move();
            });
            
            function changepays(selecteur,selecteurparent)
            {  
                var id = $('.' + selecteurparent + 'class').val();
            
                $.ajax({
                    url: "{{ path('ayigi_client_choix_pays_etablissement') }}",
                    type: "POST",
                    data: "select="+ selecteur + "& id="+ id,
                    dataType: "json",
                    success: function(reponse) { 
                        
                        $('.'+selecteur+'class').empty();
                        $.each(reponse, function(index, element) {
                        $('.'+selecteur+'class').append('<option value="'+element.id+'" selected="selected"> '+element.nom+' </option>');

                            $('.onglet_service').css( "background-color", "white" );
                            $('#myProgress').css("display", "none");
                        });
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }

            function changeEtablissement(selecteur,selecteurparent)
            {  
                var id = $('.' + selecteurparent + 'class').val();
            
                $.ajax({
                    url: "{{ path('ayigi_client_choix_etablissement_service') }}",
                    type: "POST",
                    data: "select="+ selecteur + "& id="+ id,
                    dataType: "json",
                    success: function(reponse) { 
                        
                        $('.'+selecteur+'class').empty();
                        $.each(reponse, function(index, element) {
                        $('.'+selecteur+'class').append('<option value="'+element.id+'" selected="selected"> '+element.nom+' </option>');

                            $('.onglet_beneficiaire').css( "background-color", "white" );
                            $('#myProgress').css("display", "none");

                        });
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }
            //end Ajax
            
            function move() {
                $('#myProgress').css("display", "block");
                
                var elem = document.getElementById("myBar");
                var width = 1;
                var id = setInterval(frame, 10);

                function frame() {
                    if (width >= 100) 
                    {
                        clearInterval(id);
                    }  
                    else
                    {
                        width++; 
                        elem.style.width = width + '%'; 
                    }

                }
                
            }

            $('.montantclass').keyup(function(){
                $('.onglet_beneficiaire').css( "background-color", "white" );
            });

            //Validation des infos générales
            $('#next_step_2').click(function(){ 
                
                event.preventDefault();

                $('#infos_generales').fadeOut();
                $('#info_paiement').fadeIn();
                $('#send').fadeIn();

                var pays = $(".paysclass").val();
                var etablissement = $('.etablissementclass').val();
                var service = $('.serviceclass').val();
                var message = $('.messageclass').val();
                var nomDestinataire = $('.nomclass').val();
                var prenomDestinataire = $('.prenomclass').val();
                var telephoneDestinataire = $('.telephoneclass').val();

                var DATA = 'pays=' + pays + "& etablissement="+ etablissement + "& service="+ service + "& message="+ message + "& nomDestinataire="+ nomDestinataire + "& prenomDestinataire=" + prenomDestinataire + "& telephoneDestinataire="+ telephoneDestinataire ;
              
                $.ajax({
                    type: "POST",
                    url: "{{ path('ayigi_client_validate_info_generales_user')}}",
                    data: DATA,
                    cache: false,
                    success: function(response){
                        //alert(response);
                        $('#paysReception').html(response);
                    }
                });    
                return false;
            });
            //Fin Validation des infos générales

            $( ".montantclass" ).keyup(function() {
              
              var taux = $('#choixdevise').val();
              $('.montantrecuclass').val($('.montantclass').val() * taux);
            });

        });
         
    </script>
{% endblock %}